section{
    width: 400px;
    margin: 10px;
    padding: 5px;
    background-color: #ddd;
}
section::after{
    content: "\200B";
    display: block;
    clear: both;
    height: 0;
}
h3{
    text-decoration: blink;
}
div{
    text-align: center;
}
.parent{
    background-color:blue;
    border-radius: 10%;
    width:200px;
}
.child{
    background-color: blanchedalmond;
    border-radius: 10%;
    width: 100px;
}
.left{
    background-color: aquamarine;
}
.right{
    background-color: cadetblue;
}
.a1-s1 .parent{
    text-align:center;
}
.a1-s1 .child{
    display:inline-block;
}
.a1-s2 .child{
    display:table;
    margin: 0 auto;
}
.a1-s3 .parent{
    height: 20px;
    position:relative;
}
.a1-s3 .child{
    position:absolute;
    left:50%;
    transform:translateX(-50%);
}
.a1-s4 .parent{
    height:20px;
    position:relative;
}
.a1-s4 .child{
    position:absolute;
    width:100px;
    left:50%;
    margin-left:-50px;
}
.a1-s5 .parent{
    display:flex;
    justify-content:center;
}
.a2 .parent{
    height: 100px;
}
.a2-s1 .parent{
    display:table-cell;
    vertical-align:middle;
}
.a2-s2 .parent{
    position:relative;
    height:100px;
}
.a2-s2 .child{
    position:absolute;
    top:50%;
    transform:translateY(-50%);
}
.a2-s3 .parent{
    display:flex;
    align-items:center;
}
.a3 section{
    width: auto;
}
.a3-s1 .left{
    float:left;
    width:50px;
}
.a3-s1 .right{
    margin-left:80px;
}
.a3-s2 .left{
    float:left;
    width:100px;
    margin-right:20px;
}
.a3-s2 .right{
    overflow:hidden;
}
.a3-s3 .container{
    display:table;
    width:100%;
    table-layout:fixed;
}
.a3-s3 .left,.a3-s3 .right{
    display:table-cell;
}
.a3-s3 .left{
    width:100px;
}
.a3-s4 .container{
    display:flex;
}
.a3-s4 .left{
    width:100px;
    margin-right:20px;
}
.a3-s4 .right{
    flex:1;
}
.a4-s1 .container{
    overflow:hidden;
}
.a4-s1 .left,.a4-s1 .right{
    margin-bottom:-9999px;
    padding-bottom:9999px;
}
.a4-s1 .left{
    margin-right:10px;
    float:left;
    width:100px;
}
.a4-s1 .right{
    overflow:hidden;
}
.a4-s2 .container{
    display:table;
    width:100%;
}
.a4-s2 .left{
    display:table-cell;
    width:100px;
}
.a4-s2 .right{
    display:table-cell;
}
.a4-s3 .container{
    width:100%;
    display:flex;
}
.a4-s3 .right,.a4-s3 .left{
    flex:1;
}
.a5 section{
    width: auto;
}
.a5-s1 .center{
    vertical-align: top;
    display: inline-block;
    width: calc(100% - 240px);
}
.a5-s1 .right,.a5-s1 .left{
    vertical-align: top;
    display: inline-block;
    width: 100px;
}
.a5-s2 .center,.a5-s2 .right,.a5-s2 .left{
    float:left;
    position: relative;
}
.a5-s2 .container{
    padding:0 100px;
    overflow: hidden;
}
.a5-s2 .center{
    width: 100%;
}
.a5-s2 .right{
    width: 100px;
    margin-left: -100px;
    right: -100px;
}
.a5-s2 .left{
    width: 100px;
    margin-left: -100%;
    left: -100px;
}
.a5-s3 .center,.a5-s3 .right,.a5-s3 .left{
    float:left;
}
.a5-s3 .container{
    overflow: hidden;
}
.a5-s3 .center{
    width: 100%;
}
.a5-s3 .center .center-inner{
    margin:0 100px;
}
.a5-s3 .right{
    width: 100px;
    margin-left: -100px;
}
.a5-s3 .left{
    width: 100px;
    margin-left: -100%;
}